.nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin: 5px;
}


 .nav-elements a{
    text-decoration: none;
    color: black;
    margin: 10px;
 }

 .nav-elements a.active {
    color: green;
 }


 .nav-elements a:hover {
    background-color: rgb(196, 226, 226);
    transition: 300ms ease-in;
 }

section{
    margin: 10px;
}

@media screen and (max-width: 600px){
    .nav-bar {
        margin: 0;
        align-items: end;
        background-color: rgb(165, 179, 179);
    }
    ul.nav-elements{
        margin: 10px;
        overflow: scroll;
        scroll-behavior: smooth;
    }

    section {
        margin: 0;
    }
}
