/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    margin: 10px;
}

@media screen and (min-width: 600px) {
    body {
        flex-direction: column;
        font-size: 14px;
        display: block;
        margin: 5px;
    }
}

