<body>
    <main>
        <header id="main-window">
            <section class="main">
                <div class="">
                    <div class="components">
                        <div id="income">
                            <h3>Income</h3>
                            <h3 class="income">{{ allIncome }}</h3>
                            <div id="link">
                                <a title="more on your income" routerLink="/inc/more">More&rarrb;</a>
                            </div>
                        </div>
                    </div>
                    <div class="charts">

                    </div>
                </div>

                <div class="">
                    <div class="components">
                        <div id="expense">
                            <h3>Expense</h3>
                            <h3 class="income">{{ allExpenses }}</h3>
                            <div id="link">
                                <a title="more on expenses" routerLink="/exp/more">More&rarrb;</a>
                            </div>
                        </div>
                    </div>
                    <div class="charts">
                        
                    </div>
                </div>

                <div class="">
                    <div class="components">
                        <div id="budget">
                            <h3>Budget</h3>
                            <h3 class="income">{{totalBudget}}</h3>
                            <div id="link">
                                <a title="more on budget" routerLink="/bud/more">More&rarrb;</a>
                            </div>
                        </div>
                    </div>
                    <div class="charts">
                        <app-budget-chart></app-budget-chart>
                    </div>
                </div>
            </section>
        </header>
    </main>
</body>

