<body>
    <main>
        <header id="main-window">
            <section class="main">
                <div class="components">
                    <div id="income">
                        <h3>Income</h3>
                        <h3 class="income">{{ allIncome }}</h3>
                        <div id="link">
                            <a routerLink="/inc/more">More&rarrb;</a>
                        </div>
                        <!-- <h3><app-models [income]="loadIncome()"></app-models></h3> -->
                    </div>
                </div>

                <div class="components">
                    <div id="expense">
                        <h3>Expense</h3>
                        <h3 class="income">{{ allExpenses }}</h3>
                        <div id="link">
                            <a routerLink="/exp/more">More&rarrb;</a>
                        </div>
                    </div>
                </div>

                <div class="components">
                    <div id="budget">
                        <h3>Budget</h3>
                        <h3 class="income">{{totalBudget}}</h3>
                        <div id="link">
                            <a routerLink="/bud/more">More&rarrb;</a>
                        </div>
                    </div>
                </div>
            </section>
        </header>
    </main>
</body>

