<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>allExpense-details works!</p>
    <div class="table-data">
        <table>
            <tr class="table-space">
                <th>Date</th>
                <th>Item Name</th>
                <th>Amount</th>
                <th>Category</th>
                <!-- <th>Description</th> -->
                <th>Delete</th>
            </tr>
            <div *ngFor="let expense of allExpense" class="allExpense-entry">
                <tr class="table-space">
                    <td>{{expense.date_incurred}}</td>
                    <td>{{expense.item_name}}</td>
                    <td>{{expense.amount}}</td>
                    <td>{{expense.category}}</td>
                    <!-- <td>{{expense.description}}</td> -->
                    <button
                        style="background-color: rgb(250, 124, 124);padding: 10px; border: none; border-radius: 0 8px 8px 0;cursor: pointer;">delete</button>
                </tr>
            </div>
        </table>
    </div>
</body>

</html>