<section class="login-page">
    <div class="main">
        <p>This is coming from the user Component!</p>
        <div class="form-field">
            <form action="" class="form-control">
                <input type="text" name="username" id="user-name" placeholder="Username" [(ngModel)]="credentials.username"><br>
                <input type="password" name="password" id="user-password" placeholder="Password" [(ngModel)]="credentials.password"><br>
                <button 
                    style="background-color: aqua; border: none; padding: 10px 25px;"  
                    (click)="login()">Login</button>
            </form>
        </div>
    </div>
</section>



