#main{
    padding: 0;
    margin: 0;
}

.error-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
}


