* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-page {
    margin: 0 150px;
}

.main {
    margin: 0 50px;
}

.main h1 {
    text-align: center;
}

.header {
    display: grid;
    place-items: center;
}

.header div {
    animation: infinite;
    animation-name: colgroup;
    animation-duration: 1000ms;
}


@keyframes colgroup {
    0% {
        background-color: white;
        transform: scale(10%);
    }

    50% {
        background-color: black;
        transform: scale(50%);
    }

    75% {
        background-color: aquamarine;
        transform: scale(75%);
    }

    100% {
        background-color: brown;
        transform: scale(100%);
    }
}

form input {
    width: 100%;
    height: 20px;
    font-size: 16px;
    padding: 20px;
    display: grid;
    place-items: center;
}

form button {
    color: white;
    background-color: black;
    cursor: pointer;
    width: 100%;
    font-size: bold;
    padding: 10px;
    text-align: center;
}

.form-co button {
    margin-top: 5px;
}

@media screen and (max-width: 600px) {
    .login-page {
        margin: 0 20px;
    }

    .main {
        margin: 0 10px;
    }
}