<section class="login-page">
    <div class="main">
        <p>register-user works!</p>
        <div class="form-field">
            <form action="" class="form-control">
                <input type="text" name="username" id="user-name" placeholder="Username"
                    [(ngModel)]="credentials.username"><br>
                <input type="text" name="email" id="email" placeholder="Email" 
                    [(ngModel)]="credentials.email"><br>
                <input type="password" name="password1" id="user-password1" placeholder="Password"
                    [(ngModel)]="credentials.password1"><br>
                <input type="password" name="password2" id="user-password2" placeholder="Confirm password" 
                    [(ngModel)]="credentials.password2"><br>
                <button style="background-color: aqua; border: none; padding: 10px 25px;"
                    (click)="registerUser()">Login</button>
            </form>
        </div>
    </div>
</section>

