<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Budget details works!</p>
    <section class="table-area">
        <main>
            <table class="table">
                <thead>
                    <tr >
                        <th>Some stuff</th>
                        <th>Some stuff</th>
                        <th>Some stuff</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">cool</td>
                        <td>cool</td>
                        <td>cool</td>
                    </tr>
                    <tr>
                        <td scope="row">Good</td>
                        <td>Good</td>
                        <td>Good</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </section>
</body>

</html>
