.table-space {
    margin: 10px 100px;
    padding: 10px;
    width: auto;
    border: 1px solid rgb(214, 212, 212);
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    }

.table-data {
    display: grid; 
    grid-template-columns: 2.5fr 0.5fr;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.income-entry{
    width: 100%;
}

table{
    width: 100%;
}

td, th{
    border: 1px solid rgb(224, 222, 222);
    background-color: rgb(192, 200, 202);
    padding: 10px;
}

section {
    display: table;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.charts{
    height: 50vh;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .table-space {
        margin: 0px;
        padding: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1.5fr 2fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .table-data {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

