<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>income-details works!</p>
    <div class="table-data">
        <table>
            <tr class="table-space">
                <th>Date</th>
                <th>Source</th>
                <th>Amount</th>
                <th>Remove</th>
            </tr>
            <span *ngFor = "let income of allIncome" class="income-entry">
                <tr class="table-space">
                    <td>{{income.date}}</td>
                    <td>{{income.source}}</td>
                    <td>{{income.amount}}</td>
                    <button (click)="deleteIncome(income.income_id)" style="background-color: rgb(250, 124, 124);padding: 10px; border: none; border-radius: 0 8px 8px 0;cursor: pointer;">delete</button>
                </tr>
            </span>
        </table>
    </div>
</body>
</html>
